{% extends 'base.html' %}
{% block content %}
<div class="form-card">
  <h2 style="text-align:center; color:#5d3a99;">Delete Game</h2>
  <h4 style="text-align:center;">
    Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?
  </h4>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="delete-buttons">
      <input type="submit" value="Yes - Delete!" class="btn delete-btn">
      <a href="{% url 'detail' games.id %}" class="btn cancel-btn">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
