{% extends 'base.html' %}
{% block content %}

 <a href="{% url 'kid_create' %}" class="btn add-kid-btn">Add Kidd</a>

<h1 class="page-title">Kid List</h1>

<div class="card-container">
  {% for kid in kids_list %}
    <a href="{% url 'kid_detail' kid.id %}" class="card-link">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ kid.kid_name }}</span>
          <p>Parent number: {{ kid.parent_phone }}</p>
          {% load static %}
          <img src="{% static kid.kid_image|cut:'main_app/static/' %}" alt="Kid Image">
        </div>
      </div>
    </a>
  {% empty %}
    <p>No kids found.</p>
  {% endfor %}
</div>

{% endblock %}
