{% extends 'base.html' %}
{% block content %}
<h1>Kid List</h1>
{% for kid in kids_list %}
  <a href="{% url 'kid_detail' kid.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ kid.kid_name }}</span>
            <p>Parent number: {{ kid.parent_phone }}</p>
            <!-- <p>Kid image: {{ kid.kid_image }}</p> -->
             {% load static %}
                  <img src="{% static kid.kid_image|cut:'main_app/static/' %}" width="100px" height="100px" alt="kid Image">
        </div>
    </div>
  </a>
{% endfor %}
{% endblock %}