{% extends 'base.html'%} 
{% block content %}

<h1 class="page-title">Kid Details</h1>

<div class="detail-card">
  <div class="card-content">
    <div class="right">
      {% load static %}
      <img
        src="{{ kid.kid_image.url }}"
        width="150px"
        height="150px"
        class="detail-img"
      />
    </div>
    <span class="card-title">{{ kid.kid_name }}</span>
    <p>Parent Phone: {{ kid.parent_phone }}</p>
    <p><strong>Current Credit:</strong> {{ kid.credit }} BD</p>


    <div class="card-section">
      <a href="{% url 'kid_update' kid.id %}" class="btn green">Edit</a>
      <a href="{% url 'kid_delete' kid.id %}" class="btn delete-kid">Delete</a>
    </div>
  </div>
</div>

{% endblock %}
