{% extends 'base.html' %}
{% block content %}
  <h1>Games List</h1>
  
  {% for ga in games %}
    <div class="card">
      <a href="{% url 'detail' games.id %}">
        <div class="card-content">
          <div class="flex-container">
              <div>
                <span class="card-title">{{ games.game_name }}</span>
                <p>Description: {{ games.game_descriptione }}</p>
                <p> {{ games.game_image }}</p>
               
              </div>
              <div>
                  {% load static %}
                  <img src="{% static cat.image|cut:'main_app/static/' %}" width="100px" height="100px" alt="Cat Image">
              </div>
        </div>
        </div>
      </a>
  </div>
  {% endfor %}
{% endblock %}