{% extends 'base.html' %} 
{% block content %}

<div class="detail-card">
  <h2 style="text-align:center; color:#5d3a99;">Game Details</h2>

  <div class="card-content">
    <div class="flex-container">
      <div class="card-text">
        <span class="card-title">{{ game.game_name }}</span>
        <p> {{ game.description }}</p>
        <p>Price: {{ game.game_price }} BD</p>
       

      </div>
      <div class="card-image">
        {% load static %}
        <img src="{{ game.game_image.url }}" width="150px" height="150px" alt="Game Image"/>
      </div>
    </div>

    <div class="card-buttons">
      <a href="{% url 'games_update' game.id %}" class="btn">Edit</a>
      <a href="{% url 'games_delete' game.id %}" class="btn delete-btn">Delete</a>
    </div>
  </div>
</div>

{% endblock %}


